:root {
    --primary-color: #286024;
    --primary-color-alt: #579557;
    
      /*========== Colors ==========*/

      --nav-link-color: #fff;
    --title-color: #2f2e2e;
    --text-color: rgb(78, 75, 75);
    --text-color-alt: rgb(153, 150, 150);
  
    --border-color: #eaeaea;
  
    --icon-background: rgb(255, 255, 255);
    
    --bg-color-alt: #e9ecef;
    --bg-color: #fff;
    --linear-gradient: linear-gradient(
      54deg,
      rgba(94, 213, 100, 0.9) 34%,
      hsla(35, 43%, 83%, 0.9)
    );
  }
  